<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://maggardrazors.us7.list-manage.com/subscribe/post?u=4b2f631951714023a48553dbb&amp;id=3049fc4906" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4b2f631951714023a48553dbb_3049fc4906" tabindex="-1" value=""></div>
    <div id="mc_embed_signup_scroll">
	  <label for="mce-EMAIL">Subscribe to our Monthly Newsletter for special offers!</label>
	  <div class="mc-form-fields">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-primary mdc-ripple-surface mdc-ripple-upgraded">
    </div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->
